.backgroundlayout{
  background-color: #83000e;
  
}

.container{
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.card-comments{
  width: 20rem;
  height: 9rem;
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: #ffffff;
}
.container-fluid{
  width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
} 

.card{
  width: 20rem;
  height: 35rem;
  margin-top: 80px;
  margin-bottom: 50px;
}

.card-img-top{
  width: 19rem;
  height: 17rem;
  align-self: center;
} 

h5 span{
  font-size: 19px;
  font-weight: bold;
  color: #EF0023;
}

p span{
  font-size: 19px;
  font-weight: bold;
  color: #EF0023;
}

input{
  border: none;
  text-align: center;
}
input:focus{
  outline: none;
}
.card-body{
  position: relative;
  float: left;
}

.display_box{
  background-color: #EF0023;
}
.search{
  position: absolute;
  right: 500px;
  width: 450px;
  background-color: #ffffff;
  border-radius: 20px;
}
.input_category{
  width: 400px;
  height: 8vh;
  border-radius: 18px;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.05);
}

@media (max-width: 800px) {
  .container-fluid {
    grid-template-columns: 1fr;
    row-gap: 0;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
  }
  .search{
    position: absolute;
    width: 350px;
    left: 18px;
    background-color: aliceblue;
    border-radius: 17px;
  }
  .input_category{
    width: 300px;
    height: 8vh;
    border-radius: 18px;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.05);
  }
}